<div>
    
<div style="background: #fff; width: 700px; margin: 50px auto; min-height: 500px;">
    <a href="http://myfitnessclub.in">
        <div  style="height: 70px; background: #09AEF3; text-align: center; padding: 1px 0px 0px; min-height: 70px; font-size: 20px">
            <h3 style="font-family: 'Arial', Helvetica, sans-serif;">Welcome to  My Fitness Club  </h3>           
        </div>
    </a>
    

    <div style="padding: 40px;">
        
        <div style="margin: 12px auto 24px;font-family: 'Arial', Helvetica, sans-serif;
    font-size: 20px;
    color: #09AEF3;"></div>
        <p style="color: #929292;font-family: 'Arial', Helvetica, sans-serif; line-height: 1.5; font-size:14px;">

    First Name:- <%=@contact_us.first_name %><br>
    Last Name:- <%=@contact_us.last_name %><br>
    Email:- <%=@contact_us.email %><br>
    Mobile:- <%=@contact_us.phone %><br>
    Street address 1:- <%=@contact_us.street_address1 %><br>
    Street address 2:- <%=@contact_us.street_address2 %><br>
    City :- <%=@contact_us.city %><br>
    State :- <%=@contact_us.state %><br>
    Country :- <%=@contact_us.country %><br>
    Zip :- <%=@contact_us.zip %><br>
    Message:- <%=@contact_us.message %>
    </p>
    <p style="color: #929292;
    font-family: 'Arial', Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;"> Thank you for Contacting us !!
    <br>
    We will in touch with you shortly.. !!! 
    <br>
	Thanks. <br> My Fitness Club Team<br></p>
    </div>
<div style="background:#fff;   padding: 0px;
  margin-top: 0px;">
        
            </td>
        </tr>
    </table>
    
    <table border="0" style="width: 100%;margin-bottom: -3px;">
        <tr>
            <td width="40%">
                
            </td>
        </tr>
    </table>
    
    <div style="background: #09AEF3;
    padding: 20px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;">
        &copy; www.myfitnessclub.in . All rights reserved.
    </div>
    <div style="background: #efedf2;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #aaa;">
        
    </div>
</div>
</div>


