          <%= form_for @welcome, url:    contact_us_welcomes_path  ,:method=>:POST  do |f|%>

                   <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   
                                      <%= f.text_field :first_name, placeholder:"First Name" ,id:"first_name", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                  
                                    <%= f.email_field :email, placeholder:"Email" ,id:"Email", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                   
                                      <%= f.text_field :phone, placeholder:"Mobile Number" , pattern:"[789][0-9]{9}",id:"phone", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                  
                                    <%= f.text_field :address, placeholder:"Address" ,id:"address", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                   
 
                                    <%= f.text_area :message, placeholder:"Message" ,id:"message", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>

                                </div>
                                <div class="form-group">
                                    <button type="submit"  class="btn btn-default " data-disable-with="Submitting...">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                    <% end %>