
 <section class="top-section for-full-back color-white"  style="margin-bottom:20px;">
        <div class="container " >
            <div class="row "  style="margin-bottom: 16px;" >

                <div class="col-md-12  text-center" style="font-size: 15px>
                       
                        <h class= "head-sub-main" ></h>
                        <h2 class="head-sub-main">21 Day's Flat Belly Program  </h2>
                        <h1 class="head-sub-main  faa-horizontal animated" style="" >In Just  </h1>
                        <br>
                          <span class=" ">30 Minute  <br>
                          ONE MORE THING… Here’s your chance to try out our best fat loss and body-toning program ever! <br>
                          <b class="yello-text"> Introducing The 21-Day Rapid Fat Loss Program</b>
                          <br><br>
                          Three workouts are good… but 21-days are better! Best of all you’ll save 75% today!<br>
                          In fact, it takes about 21-days for you to start seeing major changes in your waist, hips, thighs, and belly.And that’s why we created our 21-Day Rapid Fat Loss Program.<br>
                          But the best part about all of this is that you’ve just qualified for our best price ever! <b class="yello-text"> For a limited time get 21-Days for just Rs. 1499/-</b><br>
                          Look, you won’t see this offer anywhere else; you’re only seeing it now because you just signed up for our 3 free day trial offer…
                          <br><br>
                          <b class="" style="font-size: 20px">Here’s how Fit Body Boot Camp will change your body and your life…</b>
                          </span>
                          
                        <br> 
                        
                         Afterburn workouts that melt away twice the calories of traditional workouts<br>
                         Professional trainers who’ll whip you into shape and keep you safe <br>
                         Fat loss meal plans with recipes you’ll love (without counting calories) <br>
                         Weight loss results you never thought were possible– guaranteed <br>
                         More energy, confidence, and reduced stress
                        
                        <br>
                        <b class="" ">So if you want to keep working toward amazing results after your 3 free trial days then jump on this exclusive offer while it lasts:</b>
                        
                </div>

            </div>
        </div>
    </section>
    <section class="for-full-back " id="trial_section" style="margin-bottom:20px; background-color: rgb(183, 28, 28);">
        <div class="container">          
                <div class="col-md-12"> 
                    <a href="https://myfitnessclub.fitproconnect.com/Newsletter/10/16/2016/"><h3 style="font-size: 45px; color: white; text-align:center;" class="" ><b>Subscribe to Our Newsletter</b></h3></a>       
                </div>       
        </div>
    </section>


      <section class="for-full-back color-white" id="about-team" style="margin-bottom:20px;">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    
                    <h3>See how Fit Body Boot Camp has helped these awesome people lose weight!                          
                    </h3>
                </div>

            </div>
            <div class="row text-center g-pad-bottom">
                <div class="col-md-12 ">
                    <div class="col-md-3 col-sm-3 col-xs-6" style="">
                        <div class="team-member ">
                            <img src="<%= image_path('F3.jpeg') %> " alt="">
                           
                        </div>

                        <div class="">
                          <h3>SHRUTI ANAND</h3>
                             It’s hard to change one’s lifestyle and unhealthy eating habits! But now I know it feels great to live a healthy lifestyle! My breakthrough moment was when I tried on my old pant that I hadn’t been able to wear for a long time and they fit perfectly! That’s when I told myself I did it and it was all worth it!
                        </div>
                    </div>
                  
                     <div class="col-md-3 col-sm-3 col-xs-6" style="">
                        <div class="team-member ">
                            <img src="<%= image_path('F1.jpeg') %>" alt="">
                           
                        </div>

                        <div class="">
                          <h3>KRIPI</h3>
                             My name is kripi  and joining crazy 4 min formula  has helped me lose weight with the right tools. I’ve lost over 20 lbs., and my pant size also drops drastically.. Being part of this classes has not only made me lose weight, but it also gave me confidence, motivation, and increased my self-esteem. Each day I am more energetic and disciplined toward achieving my goal.
                        </div>
                    </div>



                     <div class="col-md-3 col-sm-3 col-xs-6" style="">
                        <div class="team-member ">
                            <img src="<%= image_path('3-2p.jpeg') %>" alt="">
                          
                        </div>
                        <div class="">
                          <h3>LALIT GOLA</h3>
                             I LOST 20 lbs. in 3 months and 5 inches on my waist, my cholesterol dropped 50 pts. It has been a life changing experience for my health, and I feel great. I have more energy to get me through the day. I am able to fit into my clothes that I had not used in years. 
                        </div>
                    </div>
                   <div class="col-md-3 col-sm-3 col-xs-6" style="">
                        <div class="team-member ">
                            <img src="<%= image_path('1161x1280.jpeg') %>" alt="">                         
                        </div>
                        <div class="">
                          <h3>SANJANA</h3>
                             Since joining crazy 4 min formula  I’ve lost over 30lbs and dropped 15% of my body fat. Joining this classes was one of the best decisions I ever made. With the help of the GAURAV and guidance on my nutrition I was able to see results and I continue to see progress. It worked for me and I’m sure it will work for just about anyone. 
                        </div>
                    </div>    
                </div>
            </div>       
        </div>
    </section>

    <section class="for-full-back color-white " id="contact-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 contact-cls">
                    <h2>GET IN TOUCH</h2>
                    <div>


                        <span><i class="fa fa-home"></i>Address: <b>RDX GYM </b> B-223, II Floor, Sec-7, Opp. IGNOU Center, Dwarka, Delhi - 110075</span>
                        <br>
                        <span><i class="fa fa-phone"></i>Phone: +91-(999)-939-9915</span>
                        <br>
                        <span><i class="fa fa-envelope-o"></i>support@myfitnessclub.in</span>
                        <br>
                        <span><i class="fa fa-globe"></i>www.myfitnessclub.in</span>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                 <%= render "welcomes/client_payments" %>
              </div>
            </div>
        </div>
    </section>




   

   <script type="text/javascript">
      $('body').on('click', '.btn-default', function(e) {
       $('.btn-default').addClass("black-text");
       });

     
   </script>

<style type="text/css">
    
    .btn-primary1 {
    background-color: #FCCE43;
    border-color: #2e6da4;
    color: #000;
}
</style>