
 <section class="top-section" >
        <div class="container " >
            <div class="row "  style="margin-bottom: 16px;" >

                <div class="col-md-12  text-center">
                        <h2 class="head-main yello-text ">NOW OR NEVER</h2>
                        <h2 class="head-sub-main white-text">21 Day's Flat Belly Program </h2>
                        <h1 class="head-sub-main  white-text faa-horizontal animated" style="font-size: 25px" >In Just  </h1>
                        <br>
                          <p class="head-sub-main yello-text">30 Minute  <br><br>
                            Crazy 4 Min Formula  </p> 
                        <br> 
                        <span class="head-sub-main white-text" style="font-size: 25px" ><!--  From 29th August OnWards --> </span>
                </div>




                <!-- <div class="col-md-4 for-full-back color-white" style="border: 1px solid;">   
                    <%#= render 'contact_section' %>
                </div> -->


            </div>
        </div>
    </section>

    <section class="for-full-back " id="trial_section" style="margin: -30px 0px 35px; background-color: rgb(183, 28, 28);">
        <div class="container">
          
                <div class="col-md-7"> 
                    <h3 style="font-size: 25px; color: white; padding-bottom: 20px;" class="" ><b>Try Our Afterburn™ Workout! Get 3 Free Days!</b></h3>
              
                </div>
                <div class="col-md-5" style="margin-top: 16px;">
                 <%= form_for @welcome, url: article_welcomes_path ,:method=>:GET do |f|%>
                   
                         <div class="row">
                             <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                     <%= f.email_field :email, placeholder:"Enter Your Email Here" ,id:"Email", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                </div>
                            </div> 

                            <div class="col-md-4 col-sm-12" style="">
                                 <div class="form-group">
                                   <button type="submit" class="btn btn-primary1  " data-disable-with="Submitting..." id="form_submit">Enroll Now </button>
                                   </div>
                             </div>
                          </div>
                
               <%end%>
              </div>
        </div>
    </section>

    <section class="for-full-back color-bg-one" id="about-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3><b>Crazy 4 Min Formula By Orthopedic Sports Specialist<br> & <br>Ace Certified Personal Trainer</b></h3>
                </div>
                
            </div>
        </div>
    </section>

     <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-4 ">
                    <div  class= "margin0" style="font-size: 20px; text-align:left;">
                         <i class="glyphicon glyphicon-arrow-right faa-horizontal animated"> </i>Toning and Flat Belly Exercise .<br>
                         <i class="glyphicon glyphicon-arrow-right faa-horizontal animated"> </i> Result At any Fitness Level.   <br>
                         <i class="glyphicon glyphicon-arrow-right faa-horizontal animated"> </i> Lose Weight & Abs Finishers.   <br>
                         <i class="glyphicon glyphicon-arrow-right faa-horizontal animated"> </i> 4 Secrets to Lose Weight.      <br>
                         <i class="glyphicon glyphicon-arrow-right faa-horizontal animated"> </i> Fat Lose Dance Fitness.        <br>
                   </div>
                </div>
            </div>

    </section>


    <section class="for-full-back plan-head c-a " id="about-sec" style="background-color: rgb(26, 26, 26) ! important;">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 style="font-size: 25px; color: yellow; padding-bottom: 20px;" class="yello-text" ><b>TRANSFORMATION</b></h1>
                </div>
            </div>
        </div>
    </section>


 <section id="price-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 ">
                    <div class="col-md-4">
                         <div class="team-member ">
                                <img src="<%= image_path('F3.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3> 
                            </div>
                      
                    </div>
                    <div class="col-md-4">
                         <div class="team-member ">
                                <img src="<%= image_path('M1.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3>
                            </div>
                      
                    </div>
                                       
                    <div class="col-md-4">
                        <div class="team-member ">
                                <img src="<%= image_path('F1.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3>
                            </div>
                
                    </div>
                </div>
            </div>


            <div class="row text-center" style="margin: 50px -13px 0 -13px;">
                <div class="col-md-12 ">
                    <div class="col-md-4">
                         <div class="team-member ">
                                <img src="<%= image_path('3p.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3>
                            </div>
                      
                    </div>
                    <div class="col-md-4">
                         <div class="team-member ">
                                <img src="<%= image_path('4p.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3>
                            </div>
                      
                    </div>
                     
                    
                   
                    <div class="col-md-4">
                        <div class="team-member ">
                                <img src="<%= image_path('aa.jpeg') %> " alt="">
                                <h3><strong>BEFORE  |  AFTER</strong></h3>
                            </div>         
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="for-full-back color-bg-one" id="about-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1><i class="fa fa-microphone faa-pulse animated  "></i>About</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h4>
                         
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3>OUR TEAM PROFILE</h3>
                    <h4>Our personal trainers have to meet high standards of excellence in exercise physiology, nutrition, anatomy, training program development, exercise application, health screening, and fitness assessments.                          
                    </h4>
                </div>

            </div>
            <div class="row text-center g-pad-bottom">
                <div class="col-md-12 ">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member plan">
                            <img src="<%= image_path('_DSC0174.JPG') %> " alt="">
                            <h3><strong>Gaurav Molri</strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member plan">
                            <img src="<%= image_path('WhatsApp Image 2016-08-06 at 01.12.07.jpeg') %>" alt="">
                            <h3><strong>Snp Sharma </strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member plan">
                            <img src="<%= image_path('WhatsApp Image 2016-08-07 at 04.13.23.jpeg') %>" alt="">
                            <h3><strong>Atul Rajput </strong></h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member plan">
                            <img src="<%= image_path('WhatsApp Image 2016-08-07 at 04.16.45.jpeg') %>" alt="">
                            <h3><strong>Ujjwal Yadav </strong></h3>
                        </div>
                    </div>

                </div>
            </div>
       

        </div>
    </section>

          <p></p>
          <br>
          <br>
          <br>
          <br>
          <p></p>

        

 <section class="for-full-back color-bg-one" id="contact-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1><i class="fa fa-globe faa-pulse animated  "></i>Contact</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h4>
                            <strong>
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="for-full-back color-white " id="contact-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 contact-cls">
                    <h2>GET IN TOUCH</h2>
                    <div>


                        <span><i class="fa fa-home"></i>Address: <b>RDX GYM </b> B-223, II Floor, Sec-7, Opp. IGNOU Center, Dwarka, Delhi - 110075</span>
                        <br>
                        <span><i class="fa fa-phone"></i>Phone: +91-(999)-939-9915</span>
                        <br>
                        <span><i class="fa fa-envelope-o"></i>support@myfitnessclub.in</span>
                        <br>
                        <span><i class="fa fa-globe"></i>www.myfitnessclub.in</span>
                        <br>
                    </div>
                </div>
                <div class="col-md-7">
                    <p></p>
                    
                    <%= form_for @welcome, url:   welcomes_path ,:method=>:POST  do |f|%>

                   <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   
                                      <%= f.text_field :first_name, placeholder:"First Name" ,id:"first_name", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                  
                                    <%= f.email_field :email, placeholder:"Email" ,id:"Email", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                   
                                      <%= f.text_field :phone, placeholder:"Mobile Number" , pattern:"[789][0-9]{9}",id:"phone", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                  
                                    <%= f.text_field :address, placeholder:"Address" ,id:"address", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                   
 
                                    <%= f.text_area :message, placeholder:"Message" ,id:"message", :class=>"form-control text-flid text-lable valid_title_field " , required:"required" %>

                                </div>
                                <div class="form-group">
                                    <button type="submit"  class="btn btn-default " data-disable-with="Submitting...">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <p></p>
    <p></p>
    <section>
        <div class="container">
            <div class="row g-pad-bottom">
                <div class="col-md-3 ">
                    <div class="social-stats-div">
                        <i class="fa fa-facebook fa-5x "></i>
                        
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="social-stats-div">
                        <i class="fa fa-twitter fa-5x "></i>
                       
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="social-stats-div">
                        <i class="fa fa-google-plus fa-5x "></i>
                       
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="social-stats-div">
                        <i class="fa fa-linkedin fa-5x "></i>
                      
                    </div>
                </div>
            </div>
        </div>
    </section> 
   
  

   <script type="text/javascript">
      $('body').on('click', '.btn-default', function(e) {
       $('.btn-default').addClass("black-text");
       });

     
   </script>

<style type="text/css">
    
    .btn-primary1 {
    background-color: #FCCE43;
    border-color: #2e6da4;
    color: #000;
}
</style>