<html>
<head>
  <title>Myfitnessclub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src= "https://www.payumoney.com/Api/REST/op/buttonScript" async="true"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<% @meta_desc = @meta_desc.present? ? @meta_desc : "21 Day's Flat Belly Program  In Just 30 Minute Crazy 4 Min Formula "%>
<% @meta_image = @meta_image.present? ? @meta_image : "https://myfitnessclube.herokuapp.com/assets/Artical-5d52aeedaf036a8a90e1cdfb2e257bdc72dd8ba8cbfa87c77cf0b4eb64fcd29d.jpg" %>

 <meta charset="utf-8">
  <%= render 'layouts/header' %> 
 <%= yield %>
 <%= render 'layouts/footer' %> 

</body>
</html>
